<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>C-Apex -- Home</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="C-Apex -- Home">
  <meta property="og:url" content="https://capex.me/">
  <meta property="og:image" content="https://capex.me/assets/b-home.png">
  <meta property="og:description" content="Welcome to my corner of the internet!">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/share.png">
                    <h3>Share</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Temporary file sharing that provides a direct link to the file and an OTP for immediate removal.<br>
                      <i>Working implementation of A-Share</i></p>
                        <a href="https://share.capex.me">Open</a>
                        <a href="https://github.com/c-apex/A-Share">GitHub</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/read.png">
                    <h3>Read</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>A simple knowledgebase I've turned into the home for my longer "rants."<br>
                    <i>Working implementation of A-Wiki</i></p>
                        <a href="https://read.capex.me">Go</a>
                        <a href="https://github.com/c-apex/A-Wiki">GitHub</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                  <img src="assets/bot.png">
                    <h3>Bot</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>My Discord bot, completely customizable with features useful to any community.</p>
                        <a href="https://github.com/c-apex/A-Bot">GitHub</a>
                </div>
            </div>
        </div>
    </div>
  <div class="footer">
    <small><p>Icons by <b>Freepik</b> and <b>Those Icons</b> on <b><a href="https://www.flaticon.com">FlatIcon</a></b></p>
    <p>Site by <b>Jhonier Riascos Zapata</b> on <b><a href="https://codepen.io/Jhonierpc/pen/MWgBJpy">CodePen</a></b></p></small>
  </div>
</body>
<!-- partial -->
  
</body>
</html>
