<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <head>
    <title>C-Apex - Home</title>
    <meta property="og:title" content="C-Apex">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="Welcome to my corner of the internet.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body>
    <div id="wiki">
      <div class="jumbotron">
        <h1>Read my rants...</h1>
        <h4>I'm opinionated, but I try to give both sides!</h4>
        <hr>
      <% for (post of posts) { %>
        <a href="/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= post.replace(/.md|-/g, ' '); %>
          </div>
        </a>
      <% } %>
  </body>
      </div>
        <footer>
          <hr>
          <a href="https://capex.me" class="text-center text-muted"><h2>Home</h2></a>
          <p class="text-center text-muted"><small>Built upon A-Wiki</small></p>
        </footer>
</html>