body {
  background-color: #000000;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text-center {
  text-align: center !important;
}

p {
  font-family: 'Kanit', sans-serif;
  color: #8B0000;
}

h1 {
  font-family: 'Kanit', sans-serif;
  color: #8B0000;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: 'Kanit', sans-serif;
  color: #8B0000;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-family: 'Kanit', sans-serif;
  color: #8B0000;
  text-align: center;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

br {
      line-height: 100%;
    }

.fab {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #530000;
}

.fab:hover {
  opacity: 0.7;
}

.fas {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #530000;
}

.fas:hover {
  opacity: 0.7;
}

.fa-certificate {
  border-radius: 50%;
}

hr.strong {
  border: 4px solid #530000;
  border-radius: 5px;
}

hr.weak {
  border: 2px dashed #530000;
}